In [1]:
import pandas as pd

# Read the data
train = pd.read_csv('Train.csv', index_col='InvoiceNo')
test = pd.read_csv('Test.csv', index_col='InvoiceNo')

In [2]:
#checking the dim of the dataset
print('Train size: {}, Test size: {}' .format(train.shape, test.shape))

Train size: (284780, 7), Test size: (122049, 6)

In [3]:
#Info about the attributes
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284780 entries, 6141 to 11042
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   StockCode    284780 non-null  int64
 1   Description  284780 non-null  int64
 2   Quantity     284780 non-null  int64
 3   InvoiceDate  284780 non-null  object
 4   UnitPrice    284780 non-null  float64
 5   CustomerID   284780 non-null  float64
 6   Country      284780 non-null  int64
dtypes: float64(2), int64(4), object(1)
memory usage: 17.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 122049 entries, 3139 to 12020
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   StockCode    122049 non-null  int64
 1   Description  122049 non-null  int64
 2   Quantity     122049 non-null  int64
 3   InvoiceDate  122049 non-null  object
 4   CustomerID   122049 non-null  float64
 5   Country      122049 non-null  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 6.5+ MB

In [4]:
train.head()

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
InvoiceNo,,,,,,,
6141,1583,144,3,2011-05-06 16:54:00,3.75,14056.0,35
6349,1300,3682,6,2011-05-11 07:35:00,1.95,13098.0,35
16783,2178,1939,4,2011-11-20 13:20:00,5.95,15044.0,35
16971,2115,2983,1,2011-11-22 12:07:00,0.83,15525.0,35
6080,1210,2886,12,2011-05-06 09:00:00,1.65,13952.0,35

In [5]:
#Removing the obj dataType
train = train.drop(['InvoiceDate'],1, inplace= False)
test= test.drop(['InvoiceDate'],1, inplace= False)

In [6]:
# Obtain target and predictors
y = train.UnitPrice
X = train.drop('UnitPrice',axis = 1)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler

#Scaling the data
X = RobustScaler().fit_transform(X)

# Breaking off validation set from training data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                      random_state=0)

In [8]:
from sklearn.ensemble import RandomForestRegressor

# Defining the models
model_1 = RandomForestRegressor(n_estimators=50, random_state=0)
model_2 = RandomForestRegressor(n_estimators=100, random_state=0)
model_3 = RandomForestRegressor(n_estimators=150, random_state=0)
model_4 = RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)

models = [model_1, model_2, model_3, model_4, model_5]

In [9]:
from sklearn.metrics import mean_squared_error
from math import sqrt

# Function for comparing different models
def score_model(model, X_train=X_train, X_valid=X_valid, y_train=y_train, y_valid=y_valid):
    model.fit(X_train, y_train)
    pred = model.predict(X_valid)
    return mean_squared_error(y_valid, pred)

for i in range(0, len(models)):
    mse = score_model(models[i])
    print("Model %d RMSE: %d" % (i+1, sqrt(mse)))

Model 1 RMSE: 99
Model 2 RMSE: 102
Model 3 RMSE: 111
Model 4 RMSE: 84
Model 5 RMSE: 102

In [10]:
# Fitting the model to the training data
model_4.fit(X, y)

# Test predictions
preds_test = model_4.predict(test)

# Exporting the result in csv format
output = pd.DataFrame({'UnitPrice': preds_test})
output.to_csv('submission2.csv', index=False)